/* Navbar.css */

.navbar {
  background-color: white; /* Green background */
  padding: 1rem;
  height: 50px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 2px -2px gray;
  width: 100%; /* Make the navbar span the entire width */
  position: fixed; /* Fix the navbar at the top */
  top: 0; /* Stick to the top */
  left: 0; /* Align it to the left */
  z-index: 100; /* Ensure it stays on top of other elements */
}

.logo-image {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  border-radius: 50px;
}

.login {
  position: fixed;
  top: 20px;
  right: 8px;
}
.in1 {
  position: fixed;
  top: 25px;
  right: 240pt;
}

.in2 {
  position: fixed;
  top: 25px;
  right: 183pt;
}
.in3 {
  position: fixed;
  top: 25px;
  right: 140pt;
}
.in4 {
  position: fixed;
  top: 15px;
  right: 85pt;
}

.navbar h1 {
  font-size: 1.5rem;
  margin: 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-left: 20px;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #ffd700;
}
.login:hover {
  background-color: #ffd700;
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar ul {
    flex-direction: column;
    margin-top: 1rem;
  }

  .navbar li {
    margin: 10px 0;
  }
}
